@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=M+PLUS+1+Code:wght@300&family=Oswald:wght@700&family=Poiret+One&family=Roboto+Mono:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Schibsted+Grotesk&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gruppo&family=M+PLUS+1+Code:wght@300&family=Oswald:wght@700&family=Poiret+One&family=Roboto+Mono:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Schibsted+Grotesk&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Montserrat:wght@200&family=Oswald:wght@400;500;600;700&family=Phudu:wght@300&family=Playfair+Display:wght@400;500&family=Raleway:wght@100&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@1,300&family=Source+Code+Pro:wght@300&family=Teko:wght@600&family=Tilt+Prism&family=Ubuntu:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-image: url('bg/Astrology\ Bookmark\ with\ Mountains.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FAFAFA;
    font-family: 'Gruppo', sans-serif ;
}

/* Nav Start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}

.nav{
    margin-top: -75px;
    /* position: fixed;
    right: 0; */
}

nav a {
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: #CF9C77;
    font-weight: 700;
}

nav .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem !important;
    font-family: 'Anton', sans-serif;
}

.logo img{
    width: 30%;
    margin-left: -30px;
    margin-top: -50px;
}

nav .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-family: 'Gruppo', sans-serif;
}

.nav .nav-btn {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
    transition: 0.5s;
}

.nav .nav-btn:hover {
 background-color: #FAFAFA;
}
/* Nav End */


/* Home strat */
.home {
    margin: 0rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
}

.home-text {
    margin-top: 13rem
}

.home-text h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

.home-text h3 {
    font-size: 5rem;
    font-weight: 100;
}

.home-btnbox a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 300;
}

.home-btnbox a:hover {
    color: #CF9C77;
}

.home-btnbox {
    margin-top: 3.5rem;
}

.home-btnbox .home-btn {
    background-color: #fafafa;
    color: #CF9C77;
    border: 0.5px solid #fafafa;
    border-radius: 5px;
    padding: 15px 30px;
    transition: 0.5s;
}

.home-btnbox .home-btn:hover {
 background-color: transparent;
 color: #fafafa;
}

.home-btnbox .home-btn.more {
    background-color: transparent;
    color: #FAFAFA;
    border: 0.5px solid #fafafa;
    border-radius: 5px;
    transition: 0.5s;
}

.home-btnbox .home-btn.more:hover {
    background-color: #fafafa;
    color: #CF9C77;
}
/* Home end */


/* account start */
.account-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    margin-top: 6rem;
    height: 100vh;
}

.account img{
    width: 100px;
    height: 70px;
    opacity: 0.5;
}
/* account end */


/* Features start */
/* Features end */


/* Developers Start */
.developers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.developers-container{
    width: 50%;
    margin-left: 15rem;
    padding-right: 30px;
}

.developers-text{
    padding-bottom: 20px;
}

.developers-text h2{
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Phudu', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Teko', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(75, 76, 171, 1.00);
    padding-bottom: 20px;
    font-size: 1rem;
}

.developers-text h1{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.developers-text p{
    opacity: 0.5;
}

.developers-button{
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.5s;
    width: 30%;
    text-align: center;
}

.developers-button:hover{
    background-color: #FAFAFA;
}

.developers-button a{
    text-decoration: none;
    color: #fafafa;
}

.developers-button a{
    color: #CF9C77;
}

.developers-img{
    width: 50%;
}

.developers-img img{
    width: 50%;
    padding-left: 30px;
    opacity: 0.7;
}
/* Developers End */


/* Pricing Start */

.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pricing-img{
    width: 50%;
    
}

.pricing-img img{
    width: 65%;
    opacity: 0.7;
    margin-left: 15rem;
}

.pricing-container{
    width: 50%;
    margin-left: 15rem;
    padding-right: 30px;
}

.pricing-text{
    padding-bottom: 20px;
    width: 350px;
}

.pricing-text h2{
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Phudu', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Teko', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(75, 76, 171, 1.00);
    padding-bottom: 20px;
    font-size: 1rem;
    text-transform: capitalize;
}

.pricing-text h1{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.pricing-text p{
    opacity: 0.5;
}

.pricing-button{
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.5s;
    width: 30%;
    text-align: center;
}

.pricing-button:hover{
    background-color: #FAFAFA;
}

.pricing-button a{
    text-decoration: none;
    color: #fafafa;
}

.pricing-button a{
    color: #CF9C77;
}


/* Pricing End */


/* Support Start */
/* Support End */